<template>
  <v-card outlined>
    <v-layout justify-center>
      <v-flex xs12 md3>
        <v-list-item class="d-md-non" v-for="item in card" :key="item.name">
          <v-list-item-content>
            <v-list-item-title class="text-h5 mb-1">
              {{ item.title }}
            </v-list-item-title>
            <v-list-item-subtitle> {{ item.subtitle }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-flex>
    </v-layout>
  </v-card>
</template>
<script>
export default {
  name: 'Card',
  data() {
    return {
      card: [
        {
          title: '30',
          subtitle: this.$i18n.t('subtitle.total')
        },
        {
          title: '12',
          subtitle: this.$i18n.t('subtitle.taken')
        },
        {
          title: '20',
          subtitle: this.$i18n.t('subtitle.remaining')
        },
        {
          title: '2',
          subtitle: this.$i18n.t('subtitle.taken_special_leave')
        }
      ]
    }
  }
}
</script>
