<template>
  <div>
    <!--Group-->
    <div v-for="item in filter" :key="item.name">
      <v-list-item
        :class="[{ 'blue lighten-5': item.state.selected }, 'white']"
      >
        <v-list-item-action>
          <v-checkbox
            @change="parentChange(item, item.state.selected)"
            v-model="item.state.selected"
          ></v-checkbox>
        </v-list-item-action>

        <v-list-item-title>{{ item.label }} </v-list-item-title>
      </v-list-item>
      <!--Children-->
      <div v-if="item.children.length > 0">
        <div
          v-for="children in item.children"
          :key="children.id"
          :data-id="children.id"
        >
          <v-list-item
            :class="[{ 'blue lighten-5': children.state.selected }, 'white']"
          >
            <v-list-item-action>
              <v-checkbox
                v-model="children.state.selected"
                @click="children.state.selected = !children.state.selected"
              ></v-checkbox>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>{{ children.text }} </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      filter: [
        {
          label: this.$i18n.t('label.my_holidays'),
          id: 1,
          state: {
            selected: false
          },
          children: []
        },
        {
          label: this.$i18n.t('label.public_holidays'),
          id: 2,
          state: {
            selected: false
          },
          children: []
        },
        {
          label: this.$i18n.t('label.substitute_holidays'),
          id: 3,
          state: {
            selected: true
          },
          children: [
            {
              text: 'Max Mustermann',
              id: 4,
              state: {
                selected: true
              }
            },
            {
              text: 'Lisa Schmitt',
              id: 5,
              state: {
                selected: true
              }
            }
          ]
        }
      ]
    }
  },
  methods: {
    parentChange(item, state) {
      for (const child of item.children) {
        child.state.selected = state
      }
    }
  }
}
</script>
