<template>
  <v-combobox
    v-model="model"
    :multiple="comboboxMultiple"
    :items="comboboxItems"
    :label="comboboxLabel"
    :outlined="comboboxOutlined"
    :dense="comboboxDense"
    :small-chips="comboboxChips"
    clearable
    clear-icon="clear"
    deletable-chips
  >
    <slot></slot>
  </v-combobox>
</template>
<script>
export default {
  data() {
    return {
      model: this.value
    }
  },
  watch: {
    model(currentValue) {
      this.$emit('input', currentValue)
    }
  },
  props: {
    value: {
      type: [String, Array]
    },
    comboboxChips: {
      type: Boolean,
      default: false
    },
    comboboxMultiple: {
      type: Boolean,
      default: false
    },
    comboboxLabel: String,
    comboboxDense: {
      type: Boolean,
      default: true
    },
    comboboxOutlined: {
      type: Boolean,
      default: true
    },
    comboboxItems: {
      type: Array,
      default: null
    }
  }
}
</script>
