<template>
  <div class="">
    <v-container>
      <v-row>
        <v-col md="6" sm="12">
          <v-text-field
            v-model="days.start"
            :label="$t('label.vacation_start')"
            prepend-icon="mdi-calendar"
            readonly
          ></v-text-field>
        </v-col>

        <v-col md="6" sm="12">
          <v-text-field
            v-model="days.end"
            :label="$t('label.vacation_end')"
            prepend-icon="mdi-calendar"
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
    </v-container>

    <vc-date-picker
      is-expanded
      is-range
      v-model="days"
      :min-date="new Date()"
      :columns="$screens({ default: 1, lg: 2 })"
    />
  </div>
</template>

<script>
export default {
  name: 'DateRangePicker',
  props: {},
  data() {
    return {
      days: {
        start: '',
        end: ''
      }
    }
  },
  attrs: [
    {
      key: 'today',
      dates: new Date(),
      masks: {
        title: 'MMMM YYYY'
      },
      highlight: {
        start: { fillMode: 'light' },
        base: { fillMode: 'light' },
        end: { fillMode: 'outline' }
      }
    }
  ]
}
</script>
