<template>
  <v-simple-table>
    <template v-slot:default>
      <tbody>
        <tr v-for="item in vacation" :key="item.name" class="text-left">
          <td>
            <div>{{ item.dates }}</div>
            <div>{{ item.additionalInfos }}</div>
          </td>
          <td item.actions="{ item }">
            <v-btn class="ma-2" text color="accent">
              <v-icon small @click="deleteItem(item)"> mdi-cancel </v-icon
              >Canceln
            </v-btn>
          </td>
        </tr>
      </tbody>

      <v-dialog persistent v-model="dialogDelete" max-width="500px">
        <v-card>
          <v-card-title>Urlaub Canceln</v-card-title>
          <v-card-text>
            Möchtest du wirklich deinen eingereichten (21.08.2022 bis
            22.08.2022) Urlaub zurückziehen? Deine Vorgesetzen/HR werden
            automatisch benachrichtigt.
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="neutral" text @click="closeDelete"
              >Nein, abbrechen</v-btn
            >
            <v-btn color="primary" depressed @click="deleteItemConfirm"
              >Ja, canceln</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </template>
  </v-simple-table>
</template>
<script>
export default {
  name: 'List',
  metaInfo() {
    return {
      title: this.$store.getters.appTitle,
      titleTemplate: `${this.$t('home.TITLE')} - %s`
    }
  },
  data: () => ({
    vacation: [
      {
        dates: '21.08.2022 - 22.08.2022',
        additionalInfos: '2 ganze Urlaubstage'
      },
      {
        dates: '03.11.2022 - 13.11.2022',
        additionalInfos: '10 ganze Urlaubstage'
      },
      {
        dates: '06.11.2022',
        additionalInfos: '1/2 Tag Sonderurlaub'
      }
    ],
    dialog: false,
    dialogDelete: false,
    editedIndex: -1
  }),

  watch: {
    dialogDelete(val) {
      // eslint-disable-next-line no-unused-expressions
      val || this.closeDelete()
    }
  },

  methods: {
    deleteItem(item) {
      this.editedIndex = this.vacation.indexOf(item)
      this.dialogDelete = true
    },

    deleteItemConfirm() {
      this.vacation.splice(this.editedIndex, 1)
      this.closeDelete()
    },

    closeDelete() {
      this.dialogDelete = false
    }
  }
}
</script>
<style lang="scss" scoped>
tbody {
  tr:hover {
    background-color: transparent !important;
  }
}
</style>
