<template>
  <v-app-bar flat color="primary">
    <v-toolbar-title class="white--text">{{ appTitle }}</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn
        text
        v-for="(item, index) in menuItems"
        :key="index"
        :to="{ name: item.link }"
        color="white"
      >
        <v-icon>{{ item.icon }}</v-icon> &nbsp;{{ item.title }}</v-btn
      >
    </v-toolbar-items>
    <v-menu activator="#menu">
      <v-list>
        <v-list-tile v-for="item in menuItems" :key="item.icon">
          <v-list-tile-content>
            <v-btn
              ><v-icon>{{ item.icon }}</v-icon> &nbsp;{{ item.title }}</v-btn
            >
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-menu>
    <v-app-bar-nav-icon id="menu" class="hidden-md-and-up"></v-app-bar-nav-icon>
  </v-app-bar>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {
      appTitle: this.$store.getters.appTitle,
      menuItems: [
        { icon: 'person', title: 'Max Mustermann' },
        { icon: 'logout', title: '' }
      ]
    }
  }
}
</script>
<style scoped>
.v-btn::before {
  background-color: transparent;
}
</style>
