<template>
  <v-container>
    <v-row gutters>
      <v-col md="6" sm="12">
        <Heading
          level="3"
          :title="$t('heading_title.upcoming_holiday')"
        ></Heading>
        <List></List>
      </v-col>
      <v-col md="6" sm="12">
        <Card color="success"></Card>
      </v-col>
      <v-col md="6" sm="12">
        <Combobox
          v-model="comboboxVacTypeSelectedItem"
          :comboboxLabel="comboboxVacTypeLabel"
          :comboboxItems="comboboxVacTypeItems"
        ></Combobox>
        <Combobox
          comboboxMultiple
          comboboxChips
          v-model="comboboxRecipientSelectedItem"
          :comboboxLabel="comboboxRecipientLabel"
          :comboboxItems="comboboxRecipientItems"
        >
        </Combobox>
        <Textarea></Textarea>
        <CheckboxList></CheckboxList>
      </v-col>
      <v-col md="6" sm="12">
        <Heading
          color="accent"
          level="3"
          :title="$t('heading_title.application_for_leave')"
        ></Heading>
        <DateRangePicker></DateRangePicker>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import List from './common/List'
import Card from './common/Card'
import Heading from './common/Heading'
import Combobox from './common/Combobox'
import Textarea from './common/Textarea'
import CheckboxList from './common/CheckboxList'
import DateRangePicker from './common/DateRangePicker'

export default {
  components: {
    DateRangePicker,
    CheckboxList,
    Textarea,
    Combobox,
    Heading,
    List,
    Card
  },
  metaInfo() {
    return {
      title: this.$store.getters.appTitle,
      titleTemplate: `${this.$t('about.TITLE')} - %s`
    }
  },
  data() {
    return {
      comboboxVacTypeSelectedItem: this.$i18n.t('list_item.vaction_full_time'),
      comboboxVacTypeLabel: this.$i18n.t('label.leave_type'),
      comboboxVacTypeItems: [
        this.$i18n.t('list_item.vaction_full_time'),
        this.$i18n.t('list_item.vaction_half_day'),
        this.$i18n.t('list_item.overtime'),
        this.$i18n.t('list_item.special_leavey')
      ],
      comboboxRecipientSelectedItem: ['Frank', 'Tim'],
      comboboxRecipientLabel: this.$i18n.t('label.recipient'),
      comboboxRecipientItems: ['Frank', 'Tim', 'Lisa']
    }
  }
}
</script>
